@charset "UTF-8";
/* CSS Document */
.MenuRow {
	display:flex;
	flex-direction:row;
	flex-wrap:wrap;
	justify-content:space-between;
	align-items:flex-start;


}

.MenuSection {
	flex:1;
	order:1;
	flex-basis:auto;
	margin-top:2em;
	margin-left:5em;
	margin-right:5em;
	margin-bottom: 5em;
	
}

@media (max-width:700px) {
	
	.MenuRow{
		flex-direction:column;
		justify-content:center;
	}
	.MenuSection{
		align-self:center;
	}
}


/* https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */